REACT_APP_API_BASE_URL=https://foodheaven-api.onrender.com/api/v1
REACT_APP_AUTH0_DOMAIN=dev-5k6wn3xfw6lvzvkj.us.auth0.com
REACT_APP_AUTH0_CLIENT_ID=4d8HhuQt62vCakX8rch92Elc6K0HkLYp
REACT_APP_AUTH0_AUDIENCE=https://api.foodheaven.app
